<!DOCTYPE root[<!ELEMENT bannerImg ANY>
<!ATTLIST bannerImg id ID #REQUIRED>
<!ELEMENT vaerested ANY>
<!ATTLIST vaerested id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT kontaktOs ANY>
<!ATTLIST kontaktOs id ID #REQUIRED>
<!ELEMENT vaeresteder ANY>
<!ATTLIST vaeresteder id ID #REQUIRED>
<!ELEMENT omOs ANY>
<!ATTLIST omOs id ID #REQUIRED>
]>
<root id="-1">
  <home id="1096" key="af5743ad-3751-4469-8bbf-9bdc1392556f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-07T11:52:20" updateDate="2018-05-07T16:08:47" nodeName="Forside" urlName="forside" path="-1,1096" isDoc="" nodeType="1079" creatorName="Admin" writerName="Admin" writerID="0" template="1078" nodeTypeAlias="home" isPublished="false">
    <logo><![CDATA[umb://media/9bc07e6b7b54411d99e0855dc9a2ce3a]]></logo>
    <title><![CDATA[LVS]]></title>
    <servicesBoxes><![CDATA[[{"key":"6bd3a820-da92-4a8c-9f97-79bcf7a2fda7","name":"Item 1","ncContentTypeAlias":"testimonialBox","boxImage":"umb://media/a0b69f1187c442dcb825837e9c4f8874","boxHeadline":"test ","boxText":"<p>tets</p>","boxLink":"umb://document/e62d77c39f2544c28381e4b110bb10bd"}]]]></servicesBoxes>
    <kontaktOs id="1132" key="e62d77c3-9f25-44c2-8381-e4b110bb10bd" parentID="1096" level="2" creatorID="0" sortOrder="0" createDate="2018-05-07T11:59:17" updateDate="2018-05-07T11:59:46" nodeName="Kontakt os" urlName="kontakt-os" path="-1,1096,1132" isDoc="" nodeType="1081" creatorName="Admin" writerName="Admin" writerID="0" template="1080" nodeTypeAlias="kontaktOs" isPublished="true">
      <banner><![CDATA[umb://media/97fd41ad2fe049889ab2bb7093b254f5]]></banner>
    </kontaktOs>
    <vaeresteder id="1133" key="3484c2f8-152f-4b0f-97fc-1a0add44d1c6" parentID="1096" level="2" creatorID="0" sortOrder="1" createDate="2018-05-07T12:00:04" updateDate="2018-05-07T12:09:12" nodeName="Væresteder" urlName="vaeresteder" path="-1,1096,1133" isDoc="" nodeType="1083" creatorName="Admin" writerName="Admin" writerID="0" template="1082" nodeTypeAlias="vaeresteder" isPublished="true">
      <banner><![CDATA[umb://media/97fd41ad2fe049889ab2bb7093b254f5]]></banner>
      <vaerested id="1134" key="fd922d96-a343-4776-bf15-15bfba4c471b" parentID="1133" level="3" creatorID="0" sortOrder="0" createDate="2018-05-07T12:03:39" updateDate="2018-05-07T12:09:35" nodeName="hej hej" urlName="hej-hej" path="-1,1096,1133,1134" isDoc="" nodeType="1075" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="vaerested" isPublished="true">
        <vEmail><![CDATA[test@gmail.com]]></vEmail>
        <vLandsdel><![CDATA[sjælland]]></vLandsdel>
        <vAdresse><![CDATA[asd1 ]]></vAdresse>
        <vName><![CDATA[hej hej ]]></vName>
        <vTelefon><![CDATA[12345678]]></vTelefon>
      </vaerested>
    </vaeresteder>
  </home>
</root>