@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- About Section begins -->
<section class="about">
    <div class="about-container">
        <div class="about-text-wrapper">
            <h2>Socialt udsattes Sundhed</h2>
            <span>LVS forsøger med udsattes sundhed at skabe en indgang til emnet udsatte sundhed.</span>
            <p>Der er de seneste år investeret temmelig mange ressoucer i sundhedsprojekter og -tiltag rettet mod socialt udsatte mennesker. Idræt, kost, rygning, tandbehandling og forskning for bare at nævne en håndfuld. Men hvor finder man projekterne, og hvem samler op på den viden og de erfaringer, der vindes og hvem koordinerer fremtidens indsatser?</p>
            <a class="cta-button" href="#">KNAP TEKTS <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <picture class="about-img">
        <source media="(min-width: 1200px)" srcset="../img/udsatte.png">
        <source media="(min-width: 768px)" srcset="../img/udsatte.png">
        <img src="../img/udsatte_mobile.png" alt="udsatte">
    </picture>
</section>