@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Video & News Section begins -->
<section class="news">
    <div class="news-container">
        <div class="text-wrapper">
            <div>
                <h2>Læs seneste nyheder</h2>
                <p>Følg med i vores udvikling, samt få et overblik over de seneste nyheder fra LVS og vores væresteder.</p>
            </div>
            <a class="cta-button" href="#">FLERE NYHEDER <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="news-box-wrapper">
            <div class="news-box">
                <div class="news-front-wrapper">
                    <img src="../img/Nyhed_1.jpg" alt="">
                    <div class="news-text-overlay">
                        <div class="news-text-wrapper">
                            <span>Blogindlæg</span>
                            <h4>Danmark er ikke længere det samme land</h4>
                            <a href="#">Læs Mere <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-box">
                <div class="news-front-wrapper">
                    <img src="../img/Nyhed_2.jpg" alt="">
                    <div class="news-text-overlay">
                        <div class="news-text-wrapper">
                            <span>Blogindlæg</span>
                            <h4>Tilmeldingsliste til Ferie Camp </h4>
                            <a href="#">Læs Mere <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-box">
                <div class="news-front-wrapper">
                    <img src="../img/Nyhed_3.jpg" alt="">
                    <div class="news-text-overlay">
                        <div class="news-text-wrapper">
                            <span>Blogindlæg</span>
                            <h4>Socialt udsatte har behov for fast holdepunkt i livet</h4>
                            <a href="#">Læs Mere <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>