@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

<!-- Projects Section begins -->
<section class="projects">
    <div class="projects-container">
        <div class="project-info">
            <h2>Fokus på Forandring</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Duis au reprehenderit in voluptate.</p>
            <a class="cta-button" href="#">KNAP TEKTS <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="projects-wrapper">
            @foreach(NumberFeatureBox n in Model.Content.Projekter)
            {
                <div class="count">
                    <h4>@n.NumberHeadline</h4>
                    <p>@n.BoxText</p>
                </div>
            }
        </div>
    </div>
</section>