@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Sponsor Section Begins -->
<section class="spons">
    <div class="spons-container">
        <div>
            <img src="../img/odense_kommune_logo.png" alt="">
        </div>
        <div>
            <img src="../img/atealogonew.png" alt="">
        </div>
        <div>
            <img src="../img/odense_kommune_logo.png" alt="">
        </div>
        <div>
            <img src="../img/sportmaster.png" alt="">
        </div>
    </div>
</section>